@model SportsStore.Domain.Entities.Product

<div class="item">
    <h3>@Model.ProductName</h3>
    @Model.CategoryID
    @using (Html.BeginForm("AddItem", "Cart"))
    {
        @Html.HiddenFor(x => x.ProductID);
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
        <input type="submit" value="+ Add to cart" />
    }
    <h4>@Model.UnitPrice.Value.ToString("c")</h4>
</div>

